.guide-item-content .cart-p{
    padding: 0 10px;
}
.guide-item-content.flex-column-15{
    gap: 10px;
}
.guide-item-content .cart-title{
    font-weight: 600;
    font-family: var(--primary-font);
}






/* ===================  Sweater Section Start Here ================== */
.sweater-header .text-center.flex-center{
    justify-content: center;
    align-items: center;
}
.sweater-header .text-center{
    cursor: pointer;
    padding: 10px;
    position: relative;
    width: 260px;
    margin: 0 auto;
    user-select: none;
}
.sweater-header .text-center span{
    font-size: var(--lg-font);
    padding-bottom: 10px;
}


/* drop down */
.sweater-header-dropdown{
    width: 80%;
    position: absolute;
    top: 55px;
    left: 20px;
    box-shadow: var(--box-shadow);
    animation: bottomAnimantion .3s linear;
    display: none;
    z-index: 2;
    background-color: white;
}
.sweater-header-dropdown.active{
    display: block;
}

.sweater-header-dropdown ul li {
    display: block;
    text-align: left;
    padding: 5px 10px;
    border-top: 1px solid whitesmoke;
}
.sweater-header-dropdown li.active{
    background-color: var(--grey-color);
    color: var(--light-color);
}
.sweater-header-dropdown li:hover{
    background-color: var(--grey-color);
    color: var(--light-color);
}




 /* tshirt */
 #tshirt{
    padding: 40px 0;
 }
.drop-section.active{
    display: block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-top: 10px;
}

/* ===================  Sweater Section End Here  ===================*/








/* ===================  Banner Section Start Here  ===================*/
.banner{
    height: 500px;
    background-color: var(--light-color);
    background-image: url('https://i.ibb.co/y5GXvvc/banner.png');
    background-size: contain;
    background-position: 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
}
.banner-content-area.flex-column-15{
    height: 500px;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}
.banner-content-area h1{
    letter-spacing: .7px;
}
.banner-content-area .btn-outline{
    width: 140px;
    border: 2px solid var(--dark-color);
}
.banner-content-area .btn-outline:hover{
    border: 2px solid var(--grey-color);
    color: var(--grey-color);
}
/* ===================  Banner Section End Here  ===================*/





/* ===================  Form Blog Section Start Here  ===================*/
.from-blog-content-area{
    overflow-x: auto;
}
.form-blog-items.col-3{
    gap: 30px;
    min-width: 1040px;
}
.form-blog .btn-outline{
    font-size: var(--xs-font);
    padding: 5px 20px;
    color: var(--red-color);
    border: 2px solid var(--red-color);
}
.form-blog .btn-outline:hover{
    border: 2px solid var(--dark-color);
    color: var(--dark-color);
}
.form-blog img{
    width: 100%;
}

.form-blog .read-more{
    padding: 25px 0;
}
.form-blog .read-more .btn-fill{
    font-size: var(--xs-font);
    background-color: var(--grey-color);
}
.form-blog .read-more .btn-fill:hover{
    background-color: var(--red-color);
}
/* ===================  Form Blog Section End Here  ===================*/



/* =========  Popular photos start here  =============== */
.popular-photos-area .flex-center{
    gap: 0;
}

.popular-photos{
    padding-bottom: 25px;
}
.popular-photos-area{
    overflow-x: auto;
    
}
.popular-photos-area-inner{
    min-width: 1000px;
}
.popular-photos-area div img{
    width: 100%;
}



/* =============== contact-form-area  start here ================= */
.contact-form-area{
    max-width:600px;
    margin: 0 auto;
    width: 100%;
}
.contact-header .section-sub-header{
    font-weight: 500;
    letter-spacing: .3px;
    color: var(--grey-color);
}
.contact-form-area label{
    font-weight: 600;
    font-size: var(--xs-font);
}
.contact-form-area input,.contact-form-area textarea{
    padding: 7px 15px ;
    border-radius: 25px;
    background-color: var(--white-medium);
    border: 1px solid transparent;
    font-weight: normal;
}
.contact-form-area textarea{
    height: 100px;
    resize: none;
}
.contact-form-area input:focus,.contact-form-area textarea:focus{
    border: 1px solid var(--light-color);
}
.contact-item{
    width: 100%;
}
.contact-form-area .flex-between{
    gap: 25px;
}

.contact-form-area .btn-fill{
    width: 100%;
    border-radius: 25px;
    background-color: var(--grey-color);
    letter-spacing: 1px;
}
.contact-form-area .btn-fill:hover{
    background-color: var(--red-color);
}


/* -------  contact-address  -------*/
.contact-address{
    margin-top: 180px;
    background-color: var(--primary-color);
    padding: 25px 0;
    padding-bottom: 50px;
}
.contact-address-items{
    background-color: var(--white-medium);
    margin-top: -80px;
}
.contact-address-items.flex-center{
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
    row-gap: 50px;
}
.contact-address-item{
    margin-top: -40px;
    padding-bottom: 40px;
}
.contact-addres-item-icon{
    background-color: var(--grey-color);
    padding: 12px;
    border-radius: 50%;
}
.contact-addres-item-icon img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.contact-address-item-data{
    text-align: center;
}
.contact-address-item-data h5{
    font-size: var(--md-font);
    word-spacing: 5px;
    letter-spacing: .4px;
    color: var(--grey-color);
}
.contact-address-item-data P{
    font-weight: 500;
    font-size: var(--xs-font);
    color: var(--grey-color);
}
/* =============== contact-form-area  end here ================= */




/* =============== client say area  start here ================= */

.clients-say-items.col-3{
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.client-say-item{
    text-align: center;
}

/* client say header part  */
.client-say-item .client-image{
    width: 150px;
    height: 150px;
}
.client-say-item .client-image img {
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.client-say-item .client-imag-name h5{
    font-size: var(--lg-font);
    position: relative;
    padding-bottom: 10px;
}
.client-say-item .client-imag-name h5::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 65px;
    height: 17px;
    width: 20px;
    background:var(--grey-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

/*  client say item body  */
.client-say-item-body-data h5{
    font-size: var(--md-font);
}

.client-say-item-body{
    border:1px solid var(--white-medium);
}
.client-say-item-body-data{
    padding: 10px;
}
.client-say-item-body-data small,.client-say-item-body-data p{
    display:block;
    text-align: left ;
}
.client-say-item-body-data.flex-column-20{
    align-items: flex-start;
}


/*  client say item footer  */
.client-say-item-footer{
    background-color: var(--grey-color);
    padding: 10px ;
    width: 100%;
}
.client-say-item-footer ul.flex-start{
    gap: 20px;
}
.client-say-item-footer ul li i{
    color: var(--light-color);
    font-size: var(--lg-font);
}
.client-say-item-footer ul li a:hover {
    color: var(--white-medium);
    transform: scale(1.2);
}



@media(max-width:991px){
    .banner{
        background-size: cover;
        background-position:150px;
    }
    .form-blog-items.col-3{
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media (max-width:769px){
    .banner{
        background-size: contain;
        background-position:150px;
        height: 400px;
    }
    
    .form-blog-items.col-3{
        grid-template-columns: repeat(3,1fr);
    }
    
    .client-say-item{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        border-top: var(--border-1);
        padding-top: 30px;
    }
    .clients-say-items.col-3{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
        
}








@keyframes bottomAnimantion{
    0%{
        opacity: 0;
        transform: translateY(-12px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
    
}