
/* height: fitcontent */


/* =============  Product Section start Here  ============== */

.product-content-area.flex-between{
    gap: 50px;
}
/* --------  product image -------- */
.product-image.flex-center{
    align-items: start;
    justify-content: start;
    gap: 10px;
}
.product-small-images{
    width: 80px;
    height: 600px;
    overflow: hidden;
}
.product-small-images.flex-column-15{
    gap: 2px;
}
.product-small-images img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border:var(--border-1);
    padding: 2px;
}
.product-small-images img.active{
    border: 1px solid var(--primary-color);
    transition: .12s;
    padding: 5px;
}



/* --------  product details -------- */
.product-details-area p,.product-details-area a{
    font-size: var(--xs-font);
}
.product-details-top.flex-column-25{
    align-items: start;
}
.product-details-top{
    width: 100%;
}

.product-name h3.section-header{
    text-align: left;
    font-size: var(--2xl-font);
}


/* product- rating price */
.price-rating .product-rating div a{
    border-bottom: 1px solid var(--primary-color);  
    height: 20px;
}
.product-price .old-price h5{
    font-size: var(--md-font);
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: line-through;
}
.product-price .new-price{
    position: relative;
}
.product-price .new-price::after{
    position: absolute;
    content: '';
    background-color: var(--primary-color);
    width: 2px;
    height: 50px;
    right: -15px;
    top:-8px;
    transform: skew(-23deg);
}
.price-rating .product-price.flex-center{
    gap: 35px;
}
.product-price .old-price span{
    background-color:var(--grey-color);
    display: block;
    padding: 0px 2px;
    text-align: center;
    font-size: var(--low-font);
    border-radius: 3px;
    color: var(--white-medium);
    margin-top: -2px;
    margin-left: -8px;
    width: 45px;
}



/* --------  product color -------- */
.product-colors .product-color{
    height: 39px;
    width: 39px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-colors .product-color.active{
    border: 2px solid var(--dark-color);
}
.product-colors .red,.product-colors .gray,.product-colors .blue,.product-color .orange{
    border-radius: 50%;
    height: 31px;
    width: 31px;
}
.product-colors .product-color .red{
    background-color: var(--primary-color);
}
.product-colors .product-color .gray{
    background-color: var(--light-color);
}
.product-colors .product-color .blue{
    background-color: var(--red-color);
}
.product-colors .product-color .orange{
    background-color: orange;
}



/* --------  product sizes -------- */
.product-sizes .product-size{
    height: 35px;
    width: 35px;
    background-color: white;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--light-color);
    font-size: var(--xs-font);
    font-weight: 500;
    cursor: pointer;
}
.product-sizes .product-size.active{
    background-color: var(--dark-color);
    color: white;
}




/* ----------  product stock  ---------- */
.product-stock.flex-center{
    gap: 8px;
}
.product-stock strong{
    font-weight: 600;
    font-size: var(--xs-font);
}
.product-stock span{
    color: var(--grey-color);
    font-size: var(--xs-font);
}




/* ---------- quintity buy and share   ---------- */
.quintity-buy-share{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.product-quintity-buy{
    width: 100%;
}
.product-quintity-buy .product-quintity{
    background-color: var(--white-medium);
}
.product-quintity-buy.flex-between{
    gap: 25px;
    justify-content: flex-start;
}
.product-quintity-buy .product-quintity.flex-center{
    gap: 5px;
    justify-content: flex-start;
}
.product-quintity-buy .product-quintity{
    width: fit-content;
}
.product-quintity-buy .product-quintity button{
    padding: 6px 20px;
    background-color: inherit;
    font-weight: 600;
    font-size: var(--md-font);
}
.product-quintity-buy .product-quintity button:hover{
    background-color: var(--dark-color);
    color: white;
    cursor:pointer;
}
.product-quintity-buy .product-quintity input{
    background-color: inherit;
    padding: 5px 7px;
    width: 45px;
    padding-left: 8px;
    font-weight: 600;
}


/*---------- add-to-cart ----------*/
.product-quintity-buy .add-to-cart{
    flex-grow: 1;
}
.product-quintity-buy .add-to-cart .btn-outline{
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid var(--dark-color);
}
.product-quintity-buy .add-to-cart .btn-outline:hover{
    background-color: var(--grey-color);
    color: var(--white-color);
    border: 2px solid var(--grey-color);
}

/*---------- buy button -----------*/
.quintity-buy-share-area .buy-now{
    width: 100%;
}
.quintity-buy-share-area .buy-now .btn-fill{
    padding: 10px 15px;
}
.quintity-buy-share-area .buy-now .btn-fill:hover{
    background-color: var(--grey-color);
}



/* --------  share-wishlist  --------*/
.share-wishlist .wishlist,.share-wishlist .ask,.share-wishlist .share,.share-wishlist .compare{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    transition: color .1s linear;
}
.share-wishlist.flex-start{
    gap: 20px;
}
.share-wishlist p{
    font-size: var(--xs-font);
}
.share-wishlist span i{
    font-size: var(--lg-font);
}
.share-wishlist .wishlist:hover,.share-wishlist .ask:hover,.share-wishlist .share:hover,.share-wishlist .compare:hover{
    color: var(--primary-color);
}



/* -------- share hide iocn -------- */
.product-content-area .flex-column-15,.product-content-area .flex-column-20,.product-content-area .flex-column-25{
    justify-content: flex-start;
    align-items: flex-start;
}
.quintity-buy-share{
    position: relative;
}

.share-box{
    z-index: 6;
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: 5px;
    font-size: var(--xs-font);
    width: 400px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: var(--border-1);
    display: none;
}

/* active class  */
.share-box.active{
    animation: fade-bottom .3s linear ;
    display: none;
}
.share-box.active-2{
    animation: fade-bottom .3s linear ;
    display: block;
}

.share-box i{
    cursor: pointer;
    font-size: var(--lg-font);
}
.share-box .share-link input{
    background-color: var(--white-medium);
    margin-top: 5px;
    z-index: -1;
}
.share-link  i{
    display: inline-block;
    margin-left: -57px;
    margin-top: 5px;
    z-index: 1 ;
    padding-right: 5px;
}
.share-link i:active{
    color: var(--primary-color);
}
.share-box .close-icon {
    display: block;
    text-align: right;
    cursor: pointer;
    font-size: var(--lg-font);
}
.share-box .close-icon i,.ask-question-hide .close-icon i{
    padding: 4px;
    border: var(--border-1);
    border-radius: 2px;
    cursor: pointer;
}
.share-box .close-icon i:active,.ask-question-hide .close-icon i:active{
    border: 1px solid var(--primary-color);
}

/*---------- share-icons -----------*/
.share-icons{
    padding-top: 25px;
}
.share-icons.flex-column-15{
    gap: 0px;
}
.share-icons ul{
    padding-left: 10px;
}
.share-icons ul i{
    color: var(--grey-color);
}
.share-icons ul i:hover{
    color: var(--primary-color);
}
.share-icons ul.flex-start{
    gap: 20px;
}




/* ---------- ask question hide content area ----------- */
.ask-question-hide{
    box-shadow: var(--box-shadow);
    border: var(--border-1);
    padding: 10px;
    width: 280px;
    position: absolute;
    background-color: var(--white-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: var(--border-1);
    display: none;
}
.ask-question-hide input,.ask-question-hide textarea{
    border: 1px solid var(--light-color);
    margin-top: 10px;
    font-size: var(--xs-font);
    resize: none;
}
.ask-question-hide textarea{
    height: 140px
}
.ask-question-hide .close-icon{
    text-align: right;
}
.ask-question-hide input:focus,.ask-question-hide textarea:focus{
    border: 1px solid var(--grey-color);
}
.ask-question-hide .btn-fill:hover{
    background-color: var(--grey-color);
}


/* -----------   shipping-return   -------------- */
.shipping-return{
    font-size: var(--xs-font);
    padding-top: 10px;
}
.shipping-return p{
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
.shipping-return p i{
    font-size: var(--lg-font);
}
.shipping-return p span{
    color: var(--grey-color);
    font-weight: 400;
    padding-left: 2px;
    
}
/* =============  Product Section end Here  ============== */










/* =============  product-details-bottom start Here  ============== */
.product-details-bottom{
    padding-top: 100px;
}


/* -------- product bottomm header --------- */
.product-details-bottom-header{
    border-bottom: 1px solid var(--light-color);
}
.product-details-bottom-header-area ul.flex-center{
    gap: 35px;
}
.product-details-bottom-header-area ul li a{
    color: var(--grey-color);
    font-size: var(--md-font);
    font-weight: 500;
}
.product-details-bottom-header-area ul li a.active{
    border-bottom: 2px solid var(--dark-color);
}
.product-bottom-nav.product-bottom-nav-rating{
    position: relative;
}
.product-bottom-nav.product-bottom-nav-rating span{
    position: absolute;
    top: -11px;
    left: 49px;
    background-color: var(--dark-color);
    color: var(--white-medium);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 11px;
}


/*---------- product-bottom-items ---------- */
.product-bottom-items{
    font-size: var(--xs-font);
}
.product-bottom-items p{
    font-size: var(--xs-font);
}
.product-bottom-items .flex-column-15{
    align-items: flex-start;
}
.product-bottom-details,.product-bottom-custom,.product-bottom-review{
    padding-top: 50PX;
}


/*------------  product-bottom-details  ------------*/
.product-bottom-details h5.section-header{
    text-align: left;
    font-weight: 500;
    font-size: var(--xl-font);
}
.product-bottom-details .first-details.flex-column-15{
    gap: 10px;
}

.item-detils-ul-wraper.flex-between{
    justify-content: space-around;
    gap: 50px;
}
.item-detils-ul-wraper h5{
    font-size: var(--md-font);
}
.item-detils-ul-wraper .flex-column-15{
    gap: 10px;
    min-width: 25%;
}
.item-detils-ul-wraper ul{
    padding-left: 20px;
    list-style:disc;
}
.item-detils-ul-wraper-last{
    list-style:square !important;
}




/* ----------  product-bottom-custom   ----------- */
.product-bottom-custom .prodcut-custopm-body img{
    height: 550px;
    width: 100%;
}


/* ----------  product-bottom-rating and review   ----------- */
.product-bottom-review-header{
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 25px;
}
.product-bottom-review-header .section-sub-header{
    display: block;
}
.product-bottom-review-header.flex-column-25{
    align-items: flex-start;
}
.product-bottom-review-header-bottom .flex-center{
    align-items: first baseline;
    gap: 25px;
}
.product-bottom-review-header-bottom h2{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: var(--3xl-font);
    position: relative;
}
.product-bottom-review-header-bottom h2::after {
    position: absolute;
    content: '';
    background-color: var(--primary-color);
    width: 2px;
    height: 50px;
    right: -15px;
    top: -8px;
    transform: skew(-23deg);
}
.product-bottom-review-header-bottom span{
    color: var(--dark-color);
    font-weight: 500;
}


/* product-bottom-user-review */
.product-bottom-user-reviews .product-bottom-user-review{
    border-bottom: var(--border-1);
    padding: 15px 0;
}
.user-review-data.flex-column-15{
    gap: 10px;
}
.product-bottom-user-review .user-review-profile img{
    height: 70px;
    max-width: 70px;
    border-radius:50%;
}
.user-review-data .user-name{
    font-size: var(--sm-font);
}
.user-review-data .rating{
    color: orange;
    margin-top: -5px;
}
.user-review-data .review-date span{
    font-size: var(--low-font);
}

/* review-text */
.user-review-data .review-text h5{
    font-size: var(--xs-font);
}



/* write-a-review */
.write-a-review{
    background-color: var(--white-color);
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    padding: 15px;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    font-size: var(--xs-font);
}
.write-a-review.active{
    display: block;
}
.write-a-review .close-icon{
    text-align: right;
    margin-bottom: 10px;
}
.write-a-review .close-icon i{
    padding: 3px;
    border: var(--border-1);
    cursor: pointer;
}
.write-a-review .close-icon i:active{
    border: 1px solid var(--primary-color);
}
.write-a-review .your-review .rating span{
    cursor: pointer;
}
.write-a-review .your-review .rating span:first-child{
  color: orange;
}
.write-a-review form .flex-between{
    gap: 10px;
}
.write-a-review input,.write-a-review textarea{
    border: var(--border-1);
    width: 100% ;
    border-radius: 4px;
}
.write-a-review .your-review h5{
    font-size: var(--md-font);
    font-weight: 500;
}
.write-a-review input:focus,.write-a-review textarea:focus{
    border:1px solid var(--primary-color);
}
.write-a-review form.flex-column-15{
    align-items: flex-start;
}





/* ===================  Responsive in Product page  ===================== */

@media (max-width:766px){
    /* britcamp */
    .britcamps-content-area ul.flex-start {
        gap: 10px;
        flex-wrap: wrap;
    }
    
    
    /* product data */
    .product-content-area.flex-between {
        flex-direction: column;
    }
    .product-image.w-50{
        width: 100%;
    }
    .product-image.flex-center {
        flex-direction: column;
    }
    .product-small-images.flex-column-15 {
        gap: 2px;
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .product-big-image{
        order: 1;
    }
    .product-small-images{
        order: 2;
    }
    .product-big-image{
        margin: 0 auto;
    }
    .product-big-image img {
        max-width: 570px;
        width: 100%;
    }
    
    
    /* product-details w-50 */
    .product-details.w-50{
        width: 100%;
    }
    .price-rating.flex-between{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .share-wishlist.flex-start {
        flex-wrap: wrap;
        row-gap: 5px;
    }
    
    .product-quintity-buy.flex-between {
        flex-direction: column;
    }
    .shipping-return p {
        row-gap: 0;
        flex-wrap: wrap;
    }
    
    
    /* product details bottom */
    .product-details-bottom-header-area ul.flex-center {
        gap: 15px;
    }
    .item-detils-ul-wraper.flex-between {
        flex-direction: column;
    }
}




/* how to shopping cart total in move bottom */