
/* ---------   Font Family   -------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


/* ---------   icon link   -------- */
@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css');



/* ========================   all variable start here   ======================== */
:root {
    /* ---------  color variable   -------- */
    --primary-color: #2bcbba;
    --light-color: #d1d8e0;
    --grey-color: #687080;
    --red-color: #ff4757;
    --white-color: #fff;
    --white-medium: #f1f2f6;
    --dark-color: #212121;
    
    
    /* ---------   font family   -------- */
    --primary-font: 'Montserrat', sans-serif;
    --second-font: 'Prata',serif;
    
    /* ---------   font size   -------- */
    --low-font: 12px;
    --xs-font: 14px;
    --sm-font: 15px;
    --md-font: 17px;
    --lg-font: 20px;
    --xl-font: 25px;
    --2xl-font: 30px;
    --3xl-font: 35px;
    
    
    /* ---------  transition   -------- */
     --transition-color: color .3s;
     --transition-background: background .3s;
     --transition-border: border .3s;
     --transition-transform: transform .3s;
     
     --box-shadow: 0px 3px 8px 0px rgb(0 0 0 /9%);
     --fw-600: 600;
     
     --border-1: 1px solid #f3f3f3;
}




/* ========================   Global Css Start Here   ======================== */
html{
    scroll-behavior: smooth;
}
::selection{
    background-color: var(--dark-color);
    color: var(--red-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,::after,::before{
    box-sizing: border-box;
}

body{
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

img{
    display: block;
    max-width: 100%;
    object-fit: cover; 
    object-position: center;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

input,textarea{
    width: 100%;
    border: none;
    outline: none;
    font: inherit;
    padding: 8px 10px;
}
input[type=checkbox],input[type=radio]{
    width: auto;
}
button{
    border: none;
    outline: none;
    font: inherit;
    cursor: pointer;
}

strong{
    font-weight: var(--fw600);
}

h1,h2,h3,h4{
    font-family: var(--second-font);
    font-weight: 400;
    line-height: normal;
}

h1{
    font-size: var(--3xl-font);
}
h2{
    font-size: var(--2xl-font);
}
h3{
    font-size: var(--xl-font);
}
h4{
    font-size: var(--lg-font);
}
h5_{
    font-size: var(--md-font);
}
p{
    font-size: var(--sm-font);
}
/* ========================   Global Css End Here   ======================== */





/* ========================  Global Class Start Here   ======================== */
.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.small-container{
    max-width: 1080px;
    padding: 0 20px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
    margin: 0 auto;
}
.text-right{
    text-align: right;
    margin-left: auto;
}
.w-50{
    width: 50%;
}
.w-100{
    width: 100%;
}

.cart-title{
    font-weight: 500;
    font-size: var(--md-font);
    letter-spacing: .4s;
    text-align: center;
}
.cart-p{
    font-size: var(--xs-font);
    color: var(--red-color);
    line-height: 22px;
}
section{
    padding: 25px 0;
}
.section-header-area{
    padding-bottom: 40px;
}
.section-header{
    font-size: var(--2xl-font);
    font-weight: 600;
    text-align: center;
    letter-spacing: .6px;
}
.section-sub-header{
    font-size: var(--lg-font);
    font-weight: 500;
    text-align: center;
    letter-spacing: .4px;
}





/* =========  grid class  ========== */
.col-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.col-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

/* btn  */
.btn-fill,.btn-outline{
    padding: 7px 15px;
    font-weight: 600;
    font-size: var(--sm-font);
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.btn-fill{
    background-color: black;
    color: var(--white-color);
    transition: all .3s;
}
.btn-fill:hover{
    background-color: var(--grey-color);
    color: white;
}
.btn-outline{
    border: 2px solid black;
}
.btn-outline:hover{
    transition:all .3s;
    background-color: var(--dark-color);
    color: var(--white-medium);
}


/* ---------   Flex Class   -------- */
.flex-center,.flex-center-20,.flex-center-25,.flex-start{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}
.flex-center-20{
    gap:20px;
}
.flex-center-25{
    gap:25px;
}
.flex-start{
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.flex-wrap{
    flex-wrap: wrap;
    align-items: center;
}
.flex-column-15,.flex-column-20,.flex-column-25{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-column-15{
    gap: 15px;
}
.flex-column-20{
    gap: 20px;
}
.flex-column-25{
    gap: 25px;
}

/* ========================  Global Class End Here   ======================== */



/* ========================  shopping-cart   ======================== */
.shopping-cart{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white-color);
    box-shadow: var(--box-shadow);
    border: var(--border-1);
    position: fixed;
    right: -100%;
    top: 0px;
    z-index: 5;
    transition: .3s;
    height: 100dvh;
}
.shopping-cart.active{
    right: 0%;
}
.shopping-cart-items{
    overflow-y: auto;
    height: 220px;
}
.shopping-cart-items.flex-column-25{
    align-items: flex-start;
    gap: 10px;
    padding: 5px 15px;
}
.shopping-cart-items li{
    width: 100%;
}

/* shpping cart header */
.shopping-cart-area-header{
    padding-bottom: 50px;
    padding: 15px;
}
.shopping-cart-area-header span{
    border: var(--border-1);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}
.shopping-cart-area-header span:hover{
    background-color: var(--white-medium);
}
.shopping-cart-area-header span:active{
    border: 1px solid var(--primary-color);
}

.shopping-cart-item.flex-between{
    gap: 15px;
    justify-content: flex-start;
}
.shopping-cart span,.shopping-cart p{
    font-size: var(--xs-font);
}
.shopping-cart-item{
    position: relative;
}

/* shopping-cart-quintity */
.shopping-cart-quintity{
    width: 45px;
    background-color: var(--white-medium);
    border-radius: 5px;
    height: 92px;
}
.shopping-cart-quintity button,.shopping-cart-quintity input{
    width: 100%;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    padding: 1px;
}

.shopping-cart-quintity input{
    font-weight: 500;
}

/* shopping-cart-image */
.shopping-cart-image img{
    max-width: 100px;
    width: 100%;
    height: 92px;
}

/* cart-item-details */
.cart-item-details{
    line-height: 22px;
}
.cart-item-details.flex-column-15{
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
}

/* close btn */
.shopping-cart-item .close-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 8px;
    border: var(--border-1);
    cursor: pointer;
    user-select: none;
}
.shopping-cart-item .close-btn:active {
    border: 1px solid var(--primary-color);
}




/* shopping-cart-total-price */
.shopping-cart-total-price{
    margin-top: 50px;
    background-color: var(--white-medium);
    padding: 15px;
}
.coupon-code{
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.shopping-cart-total-price input{
    border: 2px solid var(--primary-color);
}

.coupon-code button{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 6px;
    height: 97%;
    background-color: var(--dark-color);
    color: var(--white-color);
    border: 2px solid var(--primary-color);
}
.coupon-code button:hover{
    background-color: var(--grey-color);
}


/* shipping */
.shopping-cart-caltulation{
    padding-top: 25px;
}
.shopping-cart-caltulation .shipping ul{
    padding-left: 15px;
}
.shopping-cart-caltulation.flex-start{
    flex-direction: column;
    gap: 5px;
}
.shopping-cart-caltulation .shipping ul .flex-between span{
    padding-left:5px;
    font-size: var(--low-font);
}
.shopping-cart-caltulation  p{
    font-weight: 600;
}
.shopping-cart-caltulation .hr{
    width: 100%;
}
.shopping-cart-caltulation .flex-between h5{
    font-size: var(--lg-font);
}





/* =============  Britcamps Section Start Here  ============== */
.britcamps-content-area ul.flex-start{
    gap: 10px;
}
.britcamps-content-area ul li a{
    color: var(--primary-color);
    font-size: var(--xs-font);
}
.britcamps-content-area ul li a:hover{
    color: var(--grey-color);
}
.britcamps-content-area ul li:last-child a{
    color: var(--grey-color);
}
/* =============  Britcamps Section End Here  ============== */





/* ------------  animation  -------------- */
@keyframes fade-bottom{
    0%{
        opacity: 0;
        transform:  translateY(-10px);
    }
    100%{
        opacity: 1;
        transform:  translateY(0px);
    }
}

@keyframes fade-left{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    1000%{
        opacity: 1;
        transform: translateX(0px);
    }
}





@media (max-width:991px){
    .col-3,.col-4{
        width: 100%;
        grid-template-columns:repeat(2,1fr);
        gap: 15px;
        flex-wrap: wrap;
    }
}
@media (max-width:769px){
    :root{
        --low-font: 11px;
        --xs-font: 13px;
        --sm-font: 14px;
        --md-font: 15px;
        --lg-font: 17px;
        --xl-font: 20px;
        --2xl-font: 25px;
        --3xl-font: 30px;
    }
    
}
@media (max-width:480px){
    .col-3,.col-4{
        grid-template-columns:repeat(1,1fr);
        gap: 35px;
    }
}